body{
  background-image: url(../images/amazon.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

h1{
  background-color: #cc5200;
  color: white;
  text-align: center;
  font-size: 48px;
  padding-top: 8px
  padding: 16px;
}

p{
  background-color: #cc5200;
  color: white;
  text-align: center;
  font-size: 16px;
  padding-bottom: 16px;
}

form{
  background-color: white;
  width: auto;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
  padding: 10px;
}

label{
  color: #cc5200
  text-align: center;
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
  padding: 5px;
}

#firstname
#lastname
#email
#phone
#category
#location{
  color: #cc5200
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
    
#submit{
  color: black
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #cc5200;	
}

@media screen and (min-width: 800px) {
    h1{
        font-size: 32px;
    }
    body{
        background-image: url(../images/amazon.jpg)
    }
}
@media screen and (min-width: 1200px) {
    h1{
        font-size: 48px;
    }
    body{
        background-image: url(../images/amazon.jpg)
    }
}
